@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
    /* GOOGLE FONT */
    --font-press-star: "Press Start 2P", system-ui;


    /* COLORS */
    --color-background: #0F2634;
    --color-boxColor: #DDDDDD;
    --color-main: #CB3050;
    --color-text: #0F2634;
}